
<!-- MULTI SELECTION SWITCH -->
<script>
    import { mode, general, light, dark } from '../../STui_theme';
    
    // SWITCH VALUES
    export let checked = false;
    export let textValue = 'Switch text';
    
    //POSITIONS
    export let switch_position = 'L';
    export let text_position = 'L';
     
    let grid_template_columns;
    let grid_template_areas;
    
    if (switch_position == 'L'){
        grid_template_columns = '60px 1fr'
        grid_template_areas = '"switch__button switch__text"'
    }else{
        grid_template_columns = '1fr 60px'
        grid_template_areas = '"switch__text switch__button"'
    }
    if (text_position == 'L'){
        text_position = 'left'
    }else{
        text_position = 'right'
    }

    // COLORS
    mode.subscribe(values => {
        $mode = values;
    })

    let primary_color;
    let secundary_color;
    let input_bg_primary;
	let input_bg_secundary;
    let input_border_color;

    if( $mode == 'L'){
        // Light Mode
        primary_color = $general.primary
        secundary_color = $light.input_bg_secundary
        input_bg_primary = $light.input_bg_primary  
        input_bg_secundary = $light.input_bg_secundary  
        input_border_color = $light.input_border_color
    }else{
        // Dark Mode
        primary_color = $general.primary
        secundary_color = $dark.input_bg_secundary
        input_bg_primary = $dark.input_bg_primary  
        input_bg_secundary = $dark.input_bg_secundary 
        input_border_color = $dark.input_border_color
    }   
   
</script>

<!-- SWITCH -->
<div 
    class="switch"
    style="
        --grid_template_columns: {grid_template_columns};
        --grid_template_areas: {grid_template_areas};
        
    ">
        <label class="switch__button">
            <input 
                bind:checked
                type="checkbox" 
                class="switch__button" 
                style=" 
                        --primary_color: {primary_color};
                        --secundary_color: {secundary_color};
                        --input_bg_primary: {input_bg_primary}; 
                        --input_bg_secundary: {input_bg_secundary}; 
                        --input_border_color: {input_border_color}; 
                    ">
        </label> 
        <div 
            class="switch__text" 
            style="
                --text_position: {text_position};
            ">
            <p style="margin:0px;">
                {textValue}
            </p>
        </div>
</div>



<style>

    .switch {
        height: 27px;
        width: 100%;
        display: grid;
        vertical-align: middle;
        grid-template-columns:var(--grid_template_columns);
        grid-template-areas:var(--grid_template_areas); 
    }

    .switch__button {
        
        grid-area: switch__button;
        text-align: center;
        vertical-align: middle;
    }

    .switch__text {
        grid-area: switch__text;
        text-align:var(--text_position);
        vertical-align: middle;
    }
  

    /* General box style */
    input[type="checkbox"]{
        cursor: pointer;
        position: relative;
        height: 27px;
        width: 50px;
        background: var(--secundary_color);
        -webkit-appearance: none;
        outline: none;
        border-color: var(--input_border_color);
        border-radius: 5px;
        transition:  .5s;
    }
    /* Box bg when checked */
    input:checked[type="checkbox"] {
        background: var(--primary_color);
    }

    /* General Pin style */
    input[type="checkbox"]:before{
    content: '';
    position: absolute;
    height: 19px;
    width:12px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--input_border_color);
    border-radius: 3px;
    top: 2px;
    left: 2px;
    background: var(--input_bg_primary);
    transition:  .5s;
    }
    /* Pin style when checked */
    input:checked[type="checkbox"]:before{
        left: 31px;
    }
</style>