
<script>
import App from "../../../App.svelte";
import CheckboxM from "../Checkbox/CheckboxM.svelte";


	// RADIO VALUES
    export let radioValues = [];
	  export let radioResult = undefined;
    
</script>
{#each radioValues as radioValue}
  <label class="container">
    <input 
        type="radio"
        value={radioValue.value} 
        name= {radioValue.groupName}
        
        bind:group={radioResult}>
        {radioValue.value} 
      <span class="checkmark"></span>
  </label>
  {/each}
  <!-- https://youtu.be/KSnuYmB3OwA?t=453 -->
  <!-- https://svelte.dev/repl/02a59ce794ec49f5935ae3fb34f7895e?version=3.2.2 -->

<style>
    /* The container */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
         top: 6px;
        left: 6px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: white;
    }
    </style>