
<!-- Ejemplo sobre como utilizar Javascript normal de W3 en svelte -->
<!-- <script>
    var w = window.innerWidth; 
    var h = window.innerHeight;

    var x = document.getElementById("demo");
        x.innerHTML = "Browser width: " + w + ", height: " + h + ".";

 -- Esto en SVELTE se traduce de la siguiente manera
</script> -->

<script>
    let w;
    let h;
</script>

<svelte:window bind:innerWidth={w} bind:innerHeight={h} />
<!-- Hay que tener en cuenta que solo se puede utilizar una etiqueta svelte:window  en el contenido, por este motivo se hace en una sola linea -->


<h2>Get the size of the current screen/window</h2>
<p>The example displays the browser window's height and width: (NOT including toolbars/scrollbars)
<p>Browser width: {w}, height: {h}
<p id="demo"></p>



