<script>
	export let inputId;
	export let inputValue;
	export let placelHolderLabel;
	export let placelHolderHelp;
	export let inputName;
	export let actionMsgType; // i=info e=error
	export let actionMsg;
	export let formName;

	// Styles input
	let input_color;
	let input_borderColor;
	let inputRow_paddingBottom;
	// Placeholder
	let placelHolder;
	// Styles label
	let label_display;
	let label_positionTop = "8px";
	let label_positionLeft = "10px";
	let label_fontSize = "14px";
	let label_color = "";
	let label_backgroundColors = "#FFFFFF";
	// Styles actionMessage 
	let message_display;
	let message_color;

	function onFocus(){ 
		if (inputValue === "" || inputValue === undefined){
				label_display = "visible";
				placelHolder = placelHolderHelp;
		}};
	
	function onBlur(){ 
		if (inputValue === "" || inputValue === undefined){
			label_display = "hidden";
			placelHolder = placelHolderLabel;
		}
	}
		
	if (actionMsgType === "i" || actionMsgType === "e"){
			actionMsg
			if (actionMsgType === "i"){
				message_color = "#0055D4"
				input_borderColor = "#0055D4"
			}else{
				message_color = "#FF2A2A"
				input_borderColor = "#FF2A2A"
			}
			message_display = "block";
			inputRow_paddingBottom = "25px"
	}else{
			message_display = "none";
			inputRow_paddingBottom = "10px"
	}
	onFocus()
	onBlur()
	
</script>

  <div 
			 class="inputRow"
				style="
							 --inputRow_paddingBottom:{inputRow_paddingBottom}
				">
			<label 
					 on:click={onFocus} 
					 for="{formName}"
					 class="inputRow__label"
					 style="
									--label_display:{label_display};
									--label_positionTop: {label_positionTop};
									--label_positionLeft: {label_positionLeft};
									--label_fontSize: {label_fontSize};
									--label_color: {label_positionTop};
									--label_backgroundColors: {label_backgroundColors};
						">
				<span>{placelHolderLabel}</span>
		</label>
    <input 
					 id = {inputId}
					 bind:value ={inputValue} 
					 type= "text" 
					 placeholder = {placelHolder}
					 class= "inputRow__field" 
					 name= {inputName} 					
					 on:focus= {onFocus}
					 on:blur= {onBlur}
					 style="	
									--input_color: {input_color};
									--input_borderColor: {input_borderColor};
					"/>		
		<p 
			 class="inputRow__message"
			 style="
								--message_display: {message_display};
								--message_color: {message_color};
		">
				{actionMsg}
		</p>
 </div>

<style> 
	.inputRow {
		height: 40px;
		width: 100%;		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: var(--inputRow_paddingBottom);
		padding-left: 10px;
		margin-top: 5px;
		align-items: center;
	}
	
	.inputRow input {
		width: 95%;	
		z-index: 0;
		padding-top: 10px;
		color:  var(--input_color);
		border-color: var(--input_borderColor);
		position: relative;
		bottom: 0;
  	right: 0;
		
	}
	
	.inputRow__field:focus{
		outline: unset;
	}
	
	.inputRow__label {
		z-index: 2;
		margin: 0px;
		top: var(--label_positionTop);
		left: var(--label_positionLeft);
		position: relative;
		user-select: none;
		visibility:var(--label_display);
	}
	
	.inputRow__label span{
		margin: 0px;
		font-size: var(--label_fontSize);
		padding: 0px 5px 3px 5px;
		color: var(--label_color);
		background-color: var(--label_backgroundColors);
	}
	
	.inputRow__message {
		top: -7px;
		left: 10px;
		font-size: 14px;
		z-index: 1;
		margin: 0;
		position: relative;
		color: var(--message_color);
		display: var(--message_display);
	}	
</style>