<script>
	import { mode } from './template/STui_theme';

	import Switch from './template/elements/Switch/Switch.svelte';
	import CheckboxS from './template/elements/Checkbox/CheckboxS.svelte';
	import CheckboxM from './template/elements/Checkbox/CheckboxM.svelte';
	import Radio from './template/elements/Radio/Radio.svelte';
	// import Input from './template/elements/Input/Input.svelte';
	// COMPONETS VARIABLES

	// SWITCH
	let checked = false;

	// CHECKBOX S (SINGLE SELECTION)
	let checkSresult; 
	
	// CHECKBOX M (MULTI SELECTION)
	let checkMdata = ['Juanito','Carlitos','Pepito'];
	let checkResult;

	// RARIO BUTON
	
	let radioData = [
					{'id':'1','groupName':'frutas','value':'Banano','checked':'1',},
					{'id':'2','groupName':'frutas','value':'Pera','checked':'',},
					{'id':'3','groupName':'frutas','value':'Fresa','checked':'',},
					{'id':'4','groupName':'frutas','value':'Guallaba','checked':'',},
					];
	let radioResult; 
	$: console.log(radioResult);

</script>

<!-- SWITCH -->
<div id="ele_switch" style="margin-top:10px; padding:15px; border:gray; border-style:dotted;">
	<h2>Custom Switch</h2>
	<Switch bind:checked={checked} textValue='Texto' switch_position='L' text_position='L'></Switch>
</div>

<!-- CHECKBOX S -->
<div id="ele_checkboxS" style="margin-top:10px; padding:15px; border:gray; border-style: dotted;">
	<h2>Custom Checkbox Single Selection</h2>
		<CheckboxS bind:checkResult={checkSresult} textValue='Check single 1'></CheckboxS>
		<CheckboxS bind:checkResult={checkSresult} textValue='Check single 2'></CheckboxS>
</div>

<!-- CHECKBOX M -->
<div id="ele_checkboxM" style="margin-top:10px; padding:15px; border:gray; border-style: dotted;">
	<h2>Custom Checkbox Multi Selection</h2>
		<CheckboxM checkMvalues={checkMdata} bind:checkResult={checkResult} bind:group={checkResult}></CheckboxM>
</div>

<!-- RADIO -->
<div id="ele_radio" style="margin-top:10px; padding:15px; border:gray; border-style: dotted;">
	<h2>Custom Radio</h2>
		<Radio radioValues={radioData} bind:radioResult={radioResult} ></Radio>
</div>

<div id="ele_input" style="margin-top:10px; padding:15px; border:gray; border-style: dotted;">
	<h2>Custom input</h2>

</div>
