<script>

</script>

<!-- 
ATTRIBUTES
autofocus, disabled, form, max
 -->
<input type="number">

<style>
/* Deactivate number input buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
</style>