<script>
	// We are importing the store of theme
	import { themeColor } from "./lib/stores/theme.js"
	// We are import the onMount and onDestroy
	import { onMount, onDestroy } from "svelte"

	// We are initializing the variable theme for have a global variable
	let theme,
	// We are assigning the variable body to body for changes the theme
    	body = document.querySelector("body")


    // We are subscribing to the store and assigning on the const unsubscribe for after unsubscribe we when the aplication run the onDestroy

	const unsubscribe = themeColor.subscribe(value => {
		theme = value
	})

    // Function what run when we change the value in the option

	function handleSelect (e) {
        if(e.target.value === "light") {
        	themeColor.set("light")
        } else if (e.target.value === "dark"){
        	themeColor.set("dark")
        }
        // Doing the conditional for to see which if the theme and assign the value to the body for the dark and the light theme
    	if(theme === "light"){
			body.classList.remove("dark")
		    body.classList.add("light")
		} else if (theme === "dark") {
			body.classList.remove("light")
		    body.classList.add("dark")
		}
    }

	// The onDestroy is for unsubscribe we of the subscription of the store

	onDestroy(unsubscribe)

	// We need call to onMount for can assign the elements for the ids and assign the theme can load the aplication

	onMount(() => {
		// We are assigning the variables of the elements on DOM

    	let body = document.querySelector("body"),
    		selectOptionLight = document.getElementById("selectOptionLight"),
    		selectOptionDark = document.getElementById("selectOptionDark")

		// Doing the conditional for to see which if the theme and assign the value to the body for the dark and the light theme

		if(theme === "light"){
			body.classList.remove("dark")
		    body.classList.add("light")
	    	selectOptionLight.setAttribute("selected", "selected")
		} else if (theme === "dark") {
			body.classList.remove("light")
		    body.classList.add("dark")
	    	selectOptionDark.setAttribute("selected", "selected")
		}
	})
</script>
<h1>
	Texto
	{theme}
</h1>
<select on:change={handleSelect}>
    <option value="light" id="selectOptionLight">Claro</option>
    <option value="dark" id="selectOptionDark">Oscuro</option>
</select>
